<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">

<style>
  p{
    color: white;
  }
  .margin{
    margin-top: 30px;
  }
</style>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<header>
<p><a href="/">VFLIX</a></p>
</header>
<div class="container">

   <section id="row1">
   <h1 class="sectionTitle">Frozen</h1>


<iframe width="1129" height="469" src="https://www.youtube.com/embed/bwzLiQZDw2I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br>
    <h1 class="sectionTitle margin">Description</h1>
    <p>Elsa the Snow Queen and her sister Anna embark on an adventure far away from the kingdom of Arendelle. They are joined by friends, Kristoff, Olaf, and Sven.</p>
   </section>
</div>


